- name: Install software
  hosts: all
  gather_facts: false
  become: true
  tasks:
    - name: Install Standard  editors
      package:
        name:
          - vim
          - nano
          - curl
          - wget
          - tree
          - git
        state: present
